<!-- Modal -->
<div
  class="modal fade"
  id="modal_task"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="modalTaskLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTaskLabel">Nueva Tarea</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Tarea</label>
          <input id="txtTask" type="text" class="form-control"
          [(ngModel)]="text"
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Fecha</label>
          <div class="row">
            <div class="col">
              <input type="date" class="form-control" id="txtDate"

              [(ngModel)]="date"/>
            </div>
            <div class="col">
              <input type="time" class="form-control" id="txtTime"
              [(ngModel)]="hour"
              />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="reminder"
              id="flexCheckRecordarme"
            />
            <label class="form-check-label" for="flexCheckRecordarme">
              Recordarme
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary"
        (click)="onSave()"
        >Guardar</button>
      </div>
    </div>
  </div>
</div>
